body
{
	background-image:url(../img/background.gif) ;
	margin:0px 15% 10px 15%;
}

#banner
{
	width:901px; /* 901px */
	height:250px; /* 300px */
	margin-left:auto;
	margin-right:auto;
	margin-top:-8px;
	/*background-color:red;*/ background-image:url(../img/entete2.png);
	background-repeat:no-repeat;
	
}

/* liens pages */

#pages
{
	text-align:center;
}

#pages a:link, #pages a:visited
{
    color:black;
    text-decoration:none;
}

#pages a#lien:hover, #pages a:hover
{
    color:brown;
    text-decoration:underline;
}

/* menu */

.menu
{
	/*background-color:red;*/
	width:840px;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

#menu
{
	position:absolute;
	background-image:url(../img/menu/menu.png);
	background-repeat:repeat-y;
	width:450px;
	min-height:90px;
	margin-top:10px;
	margin-left:20px;
}

#menu1
{
	margin-top:35px;
	margin-left:33px;
}

/* connexion */

#connexion
{
	/*position:absolute;*/
	background-image:url(../img/menu/connexion2.png);
	background-repeat:no-repeat;
	width:150px;
	height:110px; /* 90 */
	/*margin-left:690px;*/
	float:right;
}

#connexion #co
{
	padding-left:11px;
	font-size:11px;
}

#connexion #co2
{
	padding-left:20px;
	padding-top:20px;
	font-size:14px;
}

/* panier */

#panier
{
  
	/*position:absolute;*/
	width:150px;
	height:90px;
	/*margin-left:690px;*/
	float:right;
	margin-right:75px;
}

/* page */

.corps
{
	/*background-color:blue;*/
	position:above;
	width:1000px; /* 850 */
	height:1070px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-15px;
}

#categories
{
	position:absolute;

	/*background-color:black;*/
	background-image:url(../img/menu.png);
	overflow:hidden;
	width:170px;
	height:800px;
	margin-top:30px; /* 30 */
}

#categories ul
{
	list-style-type:none;
}

#categories li
{
	padding-bottom:10px;
}

#page
{
	/*position:above;
	width:820px;
	height:1030px;*/ /* 950 */
    /*margin-left:auto;
	margin-right:auto;*/

	
	background-image:url(../img/corps2.png);
	/*background-color:orange;*/
	background-repeat:no-repeat;
	word-wrap:break-word;

	margin-left:150px; /**/

	padding-top:60px;
	padding-left:50px;
	padding-right:10px;

	/*margin-left:180px;*/
	height:1030px;
}

.tprod
{
	font-size:20px;
	text-decoration:underline;
}

#produits
{
	margin-top:30px;
	min-height:770px; /* 810 */
}

#liste
{
    border-collapse: collapse; 
    width: 180px;
}
#liste td
{
    border: 1px solid black;
	width: 60px;
	text-align:center;
}
#tdfoot
{
	border:0px;
}

/* formulaire contact */

.lab_cont
{
	display: block;
	width: 150px;
	float: left;
}

.in_cont
{
	width:185px;
}

#formulaire_contact
{
	margin-right:auto;
	margin-left:auto;
	position:absolute;
	width:400px;
	background-color:red;
}

.formb
{
	margin-right:40px;
	margin-left:150px;
}

/* formulaire inscription */

.inscription
{
	display: block; /* La balise devient de type block. */
	width: 250px;
	float: left;
}

.b
{
	margin-left: 250px ;
}

/* formulaire connexion */

.label_connexion
{
	display: block;
	width: 150px;
	float: left;
}

/*#conbt
{
	margin-left:150px;
}*/

/*#div_con
{
	margin-left:auto;
	margin-right:auto;
}*/

/* footer */

.footer
{
	width:470px;
	min-height:160px;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-top:-75px;
}

#footer
{
	position:absolute;
	width:470px;
	max-height:80px; /* 160 */
	/*background-color:red;*/ background-image:url(../img/footer.png);
	background-repeat:non-repeat;
}

#gauche
{
	text-align:center;
	margin-left:10px;
	margin-top:25px;
	width:250px;
	float:left;
	min-height:135px;
}

#droit
{
	text-align:center;
	margin-right:5px;
	margin-top:25px;
	width:195px;
	float:right;
	min-height:135px;
}