body
{
	background-image:url(../img/background.gif) ;
	margin:0px 15% 10px 15%;
}

#banner
{
	width:901px; /* 901px */
	height:250px; /* 300px */
	margin-left:auto;
	margin-right:auto;
	margin-top:-8px;
	/*background-color:red;*/ background-image:url(../img/entete2.png);
	background-repeat:no-repeat;
}

/* liens pages */

#pages
{
	text-align:center;
}

#pages a:link, #pages a:visited
{
    color:black;
    text-decoration:none;
}

#pages a#lien:hover, #pages a:hover
{
    color:brown;
    text-decoration:underline;
}

/* menu */

.menu
{
	/*background-color:red;*/
	width:840px;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

#menu
{
	position:absolute;
	background-image:url(../img/menu/menu.png);
	background-repeat:repeat-y;
	width:450px;
	min-height:90px;
	margin-top:10px;
	margin-left:20px;
}

#menu1
{
	margin-top:35px;
	margin-left:33px;
}

/* connexion */

#connexion
{
	position:absolute;
	/*background-image:url(../img/menu/connexion2.png);*/
	/*background-repeat:no-repeat;*/
	width:150px;
	height:110px; /* 90 */
	margin-left:470px;
	float:right;
}

#msgErr
{
	position: absolute;
	margin-left: 160px;
	width: 150px;
	background-color: lightgrey;
}

#connexion #co
{
	padding-left:11px;
	font-size:11px;
	margin-top: -150px;
	margin-left: 150px;
	width:150px;
	height:110px; 
	background-image:url(../img/menu/connexion2.png);
	background-repeat:no-repeat;
}

#connexion #co2
{
	position: absolute;
	padding-left:20px;
	padding-top: 0px;
	font-size:14px;
	margin-top: -150px;
	margin-left: 150px;
	width:150px;
	height:110px; 
	background-image:url(../img/menu/connexion2.png);
	background-repeat:no-repeat;
}

/* notification */

#notification
{
	position:absolute;
	width:150px;
	height:90px;
	margin-left:460px;
	/*margin-top:-10px;*/
	/*float:right;*/
}

/* panier */

#panier
{
	position:absolute;
	width:150px;
	height:90px;
	margin-left:615px;
	float:right;
	margin-right:75px;
	/*margin-top:0px;*/
}

/* admin */

#admin
{
	position:absolute;
	width:150px;
	height:90px;
	margin-left:770px;
	/*margin-top:-90px;*/
	/*float:right;*/
}

/* page */

.corps
{
	/*background-color:blue;*/
	position:above;
	width:1000px; /* 850 */
	height:1070px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-15px;
}

#categories
{
	position:absolute;

	/*background-color:black;*/
	background-image:url(../img/menu.png);
	overflow:hidden;
	width:170px;
	height:800px;
	margin-top:30px; /* 30 */
}

#categories ul
{
	list-style-type:none;
}

#categories li
{
	padding-bottom:10px;
}

#page
{
	/*position:above;
	width:820px;
	height:1030px;*/ /* 950 */
    /*margin-left:auto;
	margin-right:auto;*/
	
	background-image:url(../img/corps2.png);
	/*background-color:orange;*/
	background-repeat:no-repeat;
	word-wrap:break-word;

	margin-left:150px;

	padding-top:60px;
	padding-left:50px;
	padding-right:10px;

	/*margin-left:180px;*/
	height:970px; /* 1030 */
}

#panierL
{
	/*background-color:white;*/
	height:250px;
	overflow:auto;
}

#panierF
{
	/*background-color:white;*/
	height:320px;
	overflow:auto;
}

#pagepanier
{
	width:760px;
	height:930px;
	overflow:auto;
}

.tprod
{
	font-size:20px;
	text-decoration:underline;
}

#produits
{
	margin-top:30px;
	min-height:770px; /* 810 */
}

.ajPanier
{
    background:url(../img/panier.png);
    width:32px;
	height:32px;
	cursor:pointer;
	border:0;
}

/* Titre des pages */

/**/
.titre
{
	font-size: 25px;
	font-weight:bold;
	text-align:center;
	background-color:orange;
	border:solid;
	width:750px;
}
/**/

/**/
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #ff8000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffae00;
  text-decoration: none;
}
/**/

/**/
.liste {
	margin:0px;padding:0px;
	width:90%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.liste table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.liste tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.liste table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.liste table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.liste tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.liste tr:hover td{
	background-color:#ffffff;
		

}
.liste td{
	vertical-align:middle;
	
	background-color:#e5e5e5;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.liste tr:last-child td{
	border-width:0px 1px 0px 0px;
}.liste tr td:last-child{
	border-width:0px 0px 1px 0px;
}.liste tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.liste tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");	background: -o-linear-gradient(top,#ff7f00,ff7f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.liste tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");	background: -o-linear-gradient(top,#ff7f00,ff7f00);

	background-color:#ff7f00;
}
.liste tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.liste tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
/**/

#tdfoot
{
	border:0px;
}

/* suivi commande */

#suivcmds
{
	height: 795px;
}

/* formulaire contact */

.lab_cont
{
	display:block;
	width:150px;
	float:left;
}

.in_cont
{
	width:185px;
}

#formulaire_contact
{
	margin-right:auto;
	margin-left:auto;
	position:absolute;
	width:400px;
	background-color:red;
}

.formb
{
	margin-right:40px;
	margin-left:150px;
}

/* formulaires */

.inscription, .modif_mdp
{
	display:block;
	width:250px;
	float:left;
}

.modif_compte
{
	margin-right:20px;
}

.b
{
	margin-left:250px ;
}

/* formulaire connexion */

.label_connexion
{
	display:block;
	width:150px;
	float:left;
}

/*#conbt
{
	margin-left:150px;
}*/

/*#div_con
{
	margin-left:auto;
	margin-right:auto;
}*/

/* footer */

.footer
{
	width:470px;
	min-height:160px;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-top:-75px;
}

#footer
{
	position:absolute;
	width:470px;
	max-height:80px; /* 160 */
	/*background-color:red;*/ background-image:url(../img/footer.png);
	background-repeat:non-repeat;
}

#gauche
{
	text-align:center;
	margin-left:10px;
	margin-top:25px;
	width:250px;
	float:left;
	min-height:135px;
}

#droit
{
	text-align:center;
	margin-right:5px;
	margin-top:25px;
	width:195px;
	float:right;
	min-height:135px;
}