#workflow
{
	position: absolute;
	/*background-image:url(../img/workflow.png);
	background-repeat: no-repeat;*/
	width: 350px;
	height: 500px;
	margin-top:30px;/*-80*/
	margin-left: -180px;
}

#infocmd
{
	position: absolute;
	/*position: relative;*/
	width: 250px;
	height: 50px;
	margin-left: 60px;
	margin-top: 20px;
	/*left: 70px;
	top:120px;*/
}

.txtinfocmd
{
	font-weight: bold;
	/*color: rgb(185,122,87);*/
	color: rgb(126,79,52);
}