.lab_cont
{
	display: block;
	width: 150px;
	float: left;
	
}
.in_cont{

width:185px;

}
#formularie_contacte{
margin-right:auto;
margin-left:auto;
position:absolute;
width:400px;
background-color:red;

}
.formb{
margin-right:40px;
margin-left:150px;
}